<div>
<p>google meetのURLを投稿すると投稿したURLが自動的にリンクになっておりそれをクリックするとビデオ通話が可能になります。</p>
<p>使用するためには条件がありますので以下のリンクよりご確認ください。</p>
<%= link_to 'google meet 使用要件を確認する', 'https://support.google.com/meet/answer/7317473?hl=ja' %>
</div>
<% if @over_ten %>
  <%= link_to '以前のメッセージ', '?m=all' %>
<% end %>
<div class="ui segment">
  <% @messages.each do |message| %>
    <% if message.body.present? %>
      <div class="item">
        <div class="content">
          <div class="header"><strong><%= message.user.name %></strong> <%= message.message_time %></div>
          <div class="list">
            <div class="item">
              <i class="right triangle icon"></i>
              <%= Rinku.auto_link(message.body, :all, 'target="_blank"').html_safe %> /
              <% if message.user == current_user %>
                <%= message.read ? '既読' : '未読' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= form_with(model: [@conversation, @message]) do |f| %>
  <div class="field">
    <%= f.text_area :body, class: "form-control" %>
  </div>
    <%= f.text_field :user_id, value: current_user.id, type: "hidden"  %>
  <div>
    <%= f.submit "メッセージを送る" %>
  </div>
<% end %>
