<h1>アカウントをお持ちの方はこちら</h1>
<%= form_with(scope: :session,url: sessions_path,local: true) do |f| %>
  <div id="session_name">
    <%= f.label :email %>
    <%= f.email_field :email,class: 'form-control' %>
  </div>
  <div id="session_password">
    <%= f.label :password %>
    <%= f.password_field :password,class: 'form-control' %>
  </div>
    <%= f.submit "Log in",class: 'btn btn-default'%>
<% end %>
<h3>メンバー未登録の方</h3>
<%= link_to '新規会員登録ページへ',new_user_path,class: 'btn btn-default' %>
