<h1>新規会員登録はこちら</h1>
<%= form_with(model: @user,local: true) do |f| %>
  <%= render 'shared/error_messages',object: @user %>
  <div class="user_name">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="user_email">
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>
  </div>
  <div class="user_password">
  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>
  </div>
  <div class="user_password_confirmation">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>
  <%= f.submit "Sign up", class: 'btn btn-default' %>
<% end %>
