<h2><%= @product.name %></h2>
<%= form_with(@product,url: add_item_path(product_id: @product.id)) do |f| %>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th>商品画像</th>
        <th>商品登録</th>
        <th>個数</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td text-align:center;><img height='400' src='<%= h @product.picture %>'/></td>
        <td><%= @product.price %>円</td>
        <td><%= f.number_field :quantity,value: 1,class: 'form-control',min: 1 %></td>
        <td><%= f.hidden_field :product_id,value: @product.id %></td>
        <td><%= f.submit 'カートに入れる',class: 'btn btn-success' %></td>
      </tr>
    </tbody>
  </table>
<% end %>
